{% extends 'portal/base.html' %}
{% load staticfiles %}

{% block stylesheet %}<link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}">{% endblock %}
{% block title %}BOSM Admin Panel{% endblock %}

{% block content %}
    <div class="container custom">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>BOSM APP Admin Panel</h1></div>
            <div class="panel-body"><br/><br/>
                <a href="{% url 'portal:add_event' %}"><button class="btn btn-default">Register Events</button></a>
                <br/><br/>
                <a href="{% url 'portal:uploadResult' %}"><button class="btn btn-success">Upload Results</button></a>
               <br/><br/>
                <a href="{% url 'portal:detail' %}"><button class="btn btn-info">Details</button></a>
            </div>
        </div>
    </div>
{% endblock %}